header {
     background-image: url("../img/pattern.png");
 background-color: dodgerblue;
 background-size: 160px;
}

.immagine-logo {
    width: 150px;
}

.the-booleaner {

    color: grey;
    font-size: 15px;
}

.didascalie {
    font-size: 11px;
}

/**TABELLA**/

.prima-riga-tabella {
    background-color: dodgerblue;
    color: white;
    
}

.riga-3 {
    text-align: center;
}


.seconda-riga-tabella {
    background-color: skyblue;
}

.quarta-riga-tabella {
    background-color: skyblue;
}

.tabella-intera {
    border-collapse: collapse;
    width: 55%;
    text-align: justify;

}
